Client/class
Client/*.mwb
Client/*.sw[pno]
Client/.settings
Client/*.un~
Client/*.bak
Client/*.beforefix
Client/.classpath
Client/bin/*
Client/build

AdminPanel/class
AdminPanel/*.mwb
AdminPanel/*.sw[pno]
AdminPanel/.settings
AdminPanel/*.un~
AdminPanel/*.bak
AdminPanel/*.beforefix
AdminPanel/.classpath
AdminPanel/bin
AdminPanel/build

BusinessLogic/build
bin
.settings
