<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Me-GustAUTO</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>
  	</description>
    <display-name>PaymentReceipt</display-name>
    <servlet-name>PaymentReceipt</servlet-name>
    <servlet-class>es.uc3m.ctw.me_gustauto.controller.PaymentReceipt</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>AddAutoAd</display-name>
    <servlet-name>AddAutoAd</servlet-name>
    <servlet-class>es.uc3m.ctw.me_gustauto.controller.AddAutoAd</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>AddComment</display-name>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>es.uc3m.ctw.me_gustauto.controller.AddComment</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AddGeneralAd</display-name>
    <servlet-name>AddGeneralAd</servlet-name>
    <servlet-class>es.uc3m.ctw.me_gustauto.controller.AddGeneralAd</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>BarSearchServlet</display-name>
    <servlet-name>BarSearchServlet</servlet-name>
    <servlet-class>es.uc3m.ctw.me_gustauto.controller.BarSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>GeneralAdServlet</display-name>
    <servlet-name>GeneralAdServlet</servlet-name>
    <servlet-class>es.uc3m.ctw.me_gustauto.controller.GeneralAdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>SendEmailServlet</display-name>
    <servlet-name>SendEmailServlet</servlet-name>
    <servlet-class>es.uc3m.ctw.me_gustauto.controller.SendEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>ShowDetailsServlet</display-name>
    <servlet-name>ShowDetailsServlet</servlet-name>
    <servlet-class>es.uc3m.ctw.me_gustauto.controller.ShowDetailsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>ShowAutosServlet</display-name>
    <servlet-name>ShowAutosServlet</servlet-name>
    <servlet-class>es.uc3m.ctw.me_gustauto.controller.ShowAutosServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>SortSearchResults</display-name>
    <servlet-name>SortSearchResults</servlet-name>
    <servlet-class>es.uc3m.ctw.me_gustauto.controller.SortSearchResults</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>MessagesServlet</display-name>
    <servlet-name>MessagesServlet</servlet-name>
    <servlet-class>es.uc3m.ctw.me_gustauto.controller.MessagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAutoAd</servlet-name>
    <url-pattern>/AddAutoAd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddGeneralAd</servlet-name>
    <url-pattern>/AddGeneralAd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BarSearchServlet</servlet-name>
    <url-pattern>/BarSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GeneralAdServlet</servlet-name>
    <url-pattern>/GeneralAdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaymentReceipt</servlet-name>
    <url-pattern>/PaymentReceipt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendEmailServlet</servlet-name>
    <url-pattern>/SendEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowDetailsServlet</servlet-name>
    <url-pattern>/ShowDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAutosServlet</servlet-name>
    <url-pattern>/ShowAutosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SortSearchResults</servlet-name>
    <url-pattern>/SortSearchResults</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessagesServlet</servlet-name>
    <url-pattern>/MessagesServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
</web-app>